<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>Z9Tc6UxEkjc4NEwtID3VfJhYo</string>
	<key>consumer_Secret</key>
	<string>SeoYh4UaRxhAhGyboShsb6zYgs7zD4hej7SvuRP3S0aU9fBAsY</string>
</dict>
</plist>
